<launch>
  <!--env name = "PYTHONPATH" value="$(env PYTHONPATH)"/-->
  <arg name="nao_ip" default="$(optenv NAO_IP 127.0.0.1)"/>
  <!--japanese character recognition by using sift-->
  <include file="$(find object_learn_using_sift)/launch/nao_object_learn_using_sift.launch"/>

  <!--face recognition-->
  <include file="$(find object_learn_using_sift)/launch/nao_face_detect_demo.launch"/>
  <!--main program about nao's movement-->

  <node name="nao_eus"
        pkg="roseus" type="roseus"
        args="$(find object_learn_using_sift)/euslisp/cultural_fest_2014_10_26.l"/>

  <!--subscribe japanese character topic and collect one character to one word-->
  <node name="hiragana_subscribe"
        pkg="roseus" type="roseus"
        args="$(find object_learn_using_sift)/euslisp/hiragana_subscribe.l"/>

  <!--for diary as a html file display-->
  <node name="nao_japanese_character_recognition"
        pkg="object_learn_using_sift" type="diary_publish.py"/>
  <!--for nao speaking-->
  <!--node name="nao_speaking"
        pkg="object_learn_using_sift" type="play_voice_text_subscriber.py" args="$(arg nao_ip)" /-->


</launch>